

section{
    background:url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'red hat display';
}

.container{
    background-color: white; 
    border-radius: 20px;
    width: 600px;
    
}

.container .mainimage{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.text{
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.annual-plan{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    margin: 0 10px   ;
    font-size: 24px;
    border-radius: 20px;
}

.left{
    /* margin: auto; */
    display: flex;
    align-items: center;
}
.right{
    font-weight: 900;
}

.icon{
    height: 100px;
    margin-right: 20px;
}
button{
    margin: 20px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    width: 90%;
    height: 70px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 700;
}
button:hover{
    background-color: hsl(245, 49%, 52%);
}
a:hover{
    color: hsl(245, 49%, 52%);
    text-decoration: none;
}

h1{
    font-weight: 900;
}

.plan{
    font-weight: 700;
}
.left-text{
    display: flex;
    flex-direction: column;
}

p{
    font-size: 24px;
}

.cancel:hover{
    color: hsl(245, 49%, 52%);
    font-weight: 900;
}